<html>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<head>
  <title>Dialogix Parser Test</title>
</head>
<body>
<B>Dialogix Parser Test Page</B>
<P>
$screen_content
</P>
<B>(c) 1999-2007 Thomas M. White</B><BR>
</body>
</html>
