<FORM method='POST' name='myForm' action='ParserTest.vm'>
<B>Memory: Total=$server.totalMemory, Free=$server.freeMemory, Used=$server.memoryUsed</B>
<TABLE border='1'>
<TR><TD>Input an equation to parse<br>
<textarea name='eqn' rows='10' cols='100'></textarea>
</TD></TR>
<TR><TD>OR Test MYSQL Statements from Filename: <input name='mysql' type='text'> using Character Encoding: <input name='encoding' type='text'></TD></TR>
<TR><TD>OR Test Load of Instrument from Excel File: <input name='excelFile' type='text'></TD></TR>
<TR><TD>OR Test a JPA Query: <input name='jpa' type='text'> [param1]: <input name='param1' type='text'> [param2]: <input name='param2' type='text'></TD></TR>
<TR><TD><input name='submit' type='submit'><input name='clear' type='reset'></TD></TR>
</TABLE>
#if ($params.exists('jpa'))
    #if ($params.exists('param1'))
        #if ($params.exists('param2'))
            $dialogix.testJPA2($params.getString('jpa'), $params.getString('param1'), $params.getString('param2'))
        #else
            $dialogix.testJPA1($params.getString('jpa'), $params.getString('param1'))
        #end
    #else
        $dialogix.testJPA0($params.getString('jpa'))
    #end
#end
#if ($params.exists('excelFile'))
	$dialogix.testExcelLoader($params.getString('excelFile'))
#end
#if ($params.exists('mysql'))
	$dialogix.readSqlFromFile($params.getString('mysql'), $params.getString('encoding'))
#end
#if ($params.exists('eqn'))
	$dialogix.parse($params.getString('eqn'))
#end
#if ($params.exists('eqn') && $dialogix.numQueries() > 0)
	<TABLE BORDER='1'>
	<TR>
	<TH>Equation</TH><TH>Results</TH><TH>Expected</TH><TH>Errors</TH><TH>Dependencies</TH>
	</TR>
	$dialogix.getQueryHistory()
	</TABLE>
#end
</FORM>

