<FORM method='POST' name='myForm' action='ParserTest.vm'>
<B>Memory: Total=$server.totalMemory, Free=$server.freeMemory, Used=$server.memoryUsed</B>
<TABLE border='1'>
<TR><TD>Input an equation to parse<br>
<textarea name='eqn' rows='10' cols='100'></textarea>
<br/>
<input name='submit' type='submit'>
<input name='clear' type='reset'>
</TD></TR>
</TABLE>
#if ($params.exists('eqn'))
	$dialogix.parse($params.getString('eqn'))
#end
#if ($dialogix.numQueries() > 0)
	<TABLE BORDER='1'>
	<TR>
	<TH>Equation</TH><TH>Results</TH><TH>Expected</TH><TH>Errors</TH><TH>Dependencies</TH>
	</TR>
	$dialogix.getQueryHistory()
	</TABLE>
#end
</FORM>

