#if ($params.exists('log4j'))
	$dialogix.setLoggerParams($params.getString('log4j'))
#end
#set($logParams = $dialogix.getLoggerParams())

<FORM method='POST' name='myForm' action='Logger.vm'>
<H2>Current Log4J Paramaters</H2>
<H3>Memory: $dialogix.freeMemory :: $dialogix.totalMemory :: $dialogix.maxMemory</H3>
<TABLE border='1'>
<TR><TD>
<B>Current Log4J Parameters:</B><BR/>
#foreach($param in $logParams)
	$param<br/>
#end
</TD></TR>
<TR><TD>Input New Log4J Parameters<BR/>
<textarea name='log4j' rows='10' cols='100'></textarea><BR/>
<input name='submit' type='submit'>
<input name='clear' type='reset'>
</TD></TR>
</TABLE>
</FORM>

