/* 
    Document   : dialogix
    Created on : May 8, 2008, 1:40:12 AM
    Author     : Coevtmw
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #666666;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;    
}

.h1 {
	margin: 0; 
        text-align: center;
	padding: 10px 0;  
  font-size: 18px;
}

.container { 
	width: 100%; 
	background: #FFFFFF;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	border: 1px solid #000000;
	text-align: left; /* this overrides the text-align: center on the body element. */
} 

.header {
  height: 25px;
  background: DDDDDD;
  width: 100%;
}

.footer { 
  height: 30px;
  text-align: center;
  background:#DDDDDD;
} 

h1 {
	margin: 0; 
	padding: 10px 0;  
  font-size: 18px;
}

a {
	color: #CC3300;
	/*text-decoration:underline;*/
	}
        
	
a:hover {
	color: #FF3300;
	text-decoration:none;
	}
      
.topNav {
	background-color: #CCCC99;
	text-align: right;
}

.topNav a {
	margin: 0 1px;
        color: #4d5e4e;
	padding: 5px;
	border: 1px solid #cc9;
	display: block;
	text-decoration: none;
        font-weight: bold;
}

.topNav a:hover {
	color: #eec;
	text-decoration: none;
	background-color: #664;
	border: 1px solid #cc9;
}

.leftNav {
        height: 200px; 
        width: 100px;
        float: left
}

.mainBody {
        height: 100%;
        width: 100%;
}

leftSidebar {
	float: left;  
	width: 150px;  
	background: #EBEBEB;  
	padding: 15px 10px 15px 20px;  
}

rightSidebar {
	float: right;  
	width: 160px;  
	background: #EBEBEB;  
	padding: 15px 10px 15px 20px;  
}

.mainContent { 
	margin: 0 200px;  
	padding: 0 10px;  
} 

