/* 
    Document   : layout
    Created on : Sep 14, 2007, 3:51:32 PM
    Author     : Winston Prakash
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #666666;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
}

h1 {
	margin: 0; 
	padding: 10px 0;  
}

#container { 
	/* width: 780px;   using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	width: 1000px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	background: #FFFFFF;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	border: 1px solid #000000;
	text-align: left; /* this overrides the text-align: center on the body element. */
} 


#header {
  height: 100px;
  background: #DDDDDD;
}

#topBar {
 background-color: #CCCC99;
 
}

#leftBar {
  float: left; 
   background: #EBEBEB; 
}

#content {
  float:left;
  width:790px;
  background-color: #cdcde6;
}

#rightBar { 
  float:right; 
  width: 160px; 
  background: #EBEBEB; 
}

#footer { 
  clear:both;
  height: 25px;
  text-align: center;
  background:#DDDDDD;
} 

.header{
    background: #DDDDDD; 
    padding: 0 10px 0 20px;
} 

h1 {
	margin: 0; 
	padding: 10px 0;  
}

a {
	color: #CC3300;
	/*text-decoration:underline;*/
	}
        
	
a:hover {
	color: #FF3300;
	text-decoration:none;
	}
      
.topNavigationBar {
	background-color: #CCCC99;
	/*padding-left: 150px;*/
	text-align: right;
}

.topNavigationBar a {
	margin: 0 1px;
        color: #4d5e4e;
	padding: 5px;
	border: 1px solid #cc9;
	display: block;
	text-decoration: none;
        font-weight: bold;
}

.topNavigationBar a:hover {
	color: #eec;
	text-decoration: none;
	background-color: #664;
	border: 1px solid #cc9;
}

.leftNavigationBar {
	float: left;  
	width: 150px;  
	background: #EBEBEB;  
}  

.leftNavigationBar h3 {
	margin: 0; 
	padding: 10px;  
        font-size: small;
        font-weight: bold;
        text-align: center;
}

.leftNavigationBar a {
	font:11px georgia;
	color: #99CCFF;
	font-weight:bold;
	text-decoration: none;
	letter-spacing:.1em;
	line-height:16px;
	display:block;
	/*padding: 1px;*/
	/*border: 1pt solid rgb(20,40,95);*/
	border-right-width: 0px; 
	border-left-width: 0px; 
	}
	
.leftNavigationBar a:hover {
	color:#000000;
	/*border: 1pt dotted red;*/
	border-right-width: 0px; 
	border-left-width: 0px; 
	}        

.leftSidebar {
	float: left;  
	width: 150px;  
	background: #EBEBEB;  
	padding: 15px 10px 15px 20px;  
}

.rightSidebar {
	float: right;  
	width: 160px;  
	background: #EBEBEB;  
	padding: 15px 10px 15px 20px;  
}
.mainContent { 
	margin: 0 200px;  
	padding: 0 10px;  
} 
.footer { 
	padding: 0 10px 0 20px;  
	background:#DDDDDD;
} 
 
.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
